body 		{ padding-top:30px; }
form 		{ padding-bottom:20px; }

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #999;
}

.welcome {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -150px;
    margin-top: -100px;
}

a, a:visited {
    text-decoration: none;
}

h1 {
    font-size: 32px;
    margin: 16px 0 16px 0;
}

.add-new-form input, .add-new-form textarea {
    padding: 1px 1px 1px 8px;
    height: 30px;
    border: 1px solid #aaa;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
}

.add-new-form input:focus, .add-new-form textarea:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

#list-snacks {
    margin-top: 16px;
}

.snack-list-item {
    padding: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #aaa;;
}

.snack-list-item:hover, .snack-list-item:focus {
    background-color: rgba(192,192,192,0.1);
}

.snack-list-item-subtitle {
    color: #4288CE;
    font-size: smaller;
}

.arrow-up {
    height: 0;
    width: 20px;
    margin: auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid;
    border-bottom-color: lightgray;
}

.arrow-up.selected {
    border-bottom-color: green;
}

.arrow-up:hover, .arrow-up:focus {
    border-bottom-color: lightgreen;
}

.arrow-down {
    height: 0;
    width: 20px;
    margin: auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid;
    border-top-color: lightgray;
}

.arrow-down.selected {
    border-top-color: red;
}

.arrow-down:hover, .arrow-down:focus {
    border-top-color: lightpink;
}

.snack-list-item_text {
    display: inline-block;
    zoom: 1;
}

.arrow-container {
    display: inline-block;
    position: relative;
    width: 15%;
}

.arrow-value {
}

.username {
    display: inline-block;
    color: #555555;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.timestamp {
    display: inline-block;
    font-size: smaller;
    color: #C6C6C6;
}

.comment-input-group {
    width: 60%;
    margin: auto;
}

.comment-form {
    padding-bottom: 0px;
}

.footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.snack-list-item-text-container {
    position: relative;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
}
ul {
    padding: 0;
    list-style-type: none;
}